<toolbar class="clearfix">
  <!--搜索部分-->
  <div class="form-inline clearfix">
      <search-input class="pull-right" style="width: 350px" model="eSearch.searchStr" get-data="eSearch.search()"  placeholder="{{'输入姓名/病理号查询 号段用“-”分开'|translate}}"></search-input>
  </div>

</toolbar>

<div class="container clearfix">
  <!--筛选部分-->
  <div class="form-inline toolbar" style="background: none">
    <date-seletor dateset="eSearch.defaultTime"  start-time="eSearch.startTime" end-time="eSearch.endTime"></date-seletor>

    <select class="form-control input-sm" ng-model="eSearch.status" ng-options="status.code as status.name for status in [{name:'待包埋',code:14},{name:'待切片',code:15}]">
      <option value="">{{'样本状态'|translate}}</option>
    </select>
    <select class="form-control input-sm" ng-model="eSearch.operatorId" ng-options="person.id as person.firstName for person in eSearch.embedPersonList">
      <option value="">{{'包埋技术员'|translate}}</option>
    </select>

    <button id="query" ng-click="eSearch.query()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-filter"></span>{{'筛选'|translate}}</button>
  </div>
  <!--表格显示部分-->
  <div class="table-min">
    <table class=" table-hover table-bordered">
      <thead class="primary-table-head">
      <tr>
        <th ng-repeat="item in eSearch.tableHeaders" ng-click="eSearch.getSortList(item)" class="{{item.class}} " ng-style="item.style">{{item.name|translate}}
          <i class="cursor-pointer glyphicon glyphicon-chevron-down arrow"
             ng-hide="!item.order"
             ng-class="{'rotate-180':item.sort==='asc','rotate-0':item.sort==='desc'||!item.sort}" />
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in eSearch.data.data track by $index">
        <td ng-bind="item.serialNumber"></td>
        <td ng-bind="item.subId"></td>
        <td ng-bind="item.patientName"></td>
        <td ng-bind="item.departments | department"></td>
        <td ng-bind="item.grossingDoctorName"></td>
        <td ng-bind="item.bodyPart"></td>
        <td ng-bind="item.count"></td>
        <td ng-bind="item.biaoShiName"></td>
        <td ng-bind="item.embedDoctorName"></td>
        <td ng-bind="item.embedTime| date : 'yyyy-MM-dd HH:mm' "></td>
        <td style="width: 260px;"><div title="{{item.other}}" style="max-width: 260px;overflow: hidden;text-overflow:ellipsis">{{item.note}} &nbsp; {{item.other}}</div></td>
        <td ng-bind="item.statusName"></td>
      </tr>
      <tr ng-repeat="n in [].constructor(20) track by $index" ng-show="eSearch.data.data.length<=$index">
        <td  ng-repeat="n in [].constructor(12) track by $index"></td>
      </tr>

      </tbody>
    </table>
    <div class="table-footer">
      <div class="pull-left form-control-static pagination">{{'共'|translate}}<span ng-bind="eSearch.data.total"></span>{{'条结果'|translate}}</div>
      <uib-pagination class="pull-right" boundary-links="true" items-per-page="eSearch.filterData.length" max-size="10"
                      total-items="eSearch.data.total"
                      ng-model="eSearch.filterData.page"
                      ng-change="eSearch.getDataList()"
                      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>

  </div>
</div>
