<div id="addGrade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="addGrade.cancel()">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title text-left" id="modal-title" ng-bind="addGrade.Title"></h4>
  </div>
  <div class="modal-body" id="modal-body">
    <form name="addFrm">
      <div class="row">
        <div class="col-sm-6" style="padding:0;">
          <span>工位选择:<span style="color:red">*</span></span>
          <select ng-model="addGrade.data.workstation" ng-options="station.value as station.name for station in addGrade.stationList" required>
            <option value="">请选择</option>
          </select>
        </div>
        <div class="col-sm-6" style="padding:0;text-align:right;">
          <span>合格标准:<span style="color:red">*</span></span>
          <select ng-model="addGrade.data.qualified" ng-options="valid.value as valid.name for valid in addGrade.validList" required>
            <option value="">请选择</option>
          </select>分
        </div>
      </div>
      <div class="row">
        <p>1 分：</p>
        <textarea placeholder="打分标准" ng-model="addGrade.data.oneScore"></textarea>
      </div>
      <div class="row">
        <p>2 分：</p>
        <textarea placeholder="打分标准" ng-model="addGrade.data.twoScore"></textarea>
      </div>
      <div class="row">
        <p>3 分：</p>
        <textarea placeholder="打分标准" ng-model="addGrade.data.threeScore"></textarea>
      </div>
      <div class="row">
        <p>4 分：</p>
        <textarea placeholder="打分标准" ng-model="addGrade.data.fourScore"></textarea>
      </div>
      <div class="row">
        <p>5 分：</p>
        <textarea placeholder="打分标准" ng-model="addGrade.data.fiveScore"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="addGrade.cancel()">取消</button>
    <button class="btn btn-default" type="button" ng-click="addGrade.ok()" ng-disabled="addFrm.$invalid">确定</button>
  </div>
</div>
