#proDistribution{
  .common-height{
    height: 25px!important;
    line-height:25px!important;
  }
  .special-height{
    height:25px!important;
    line-height:10px!important;
  }
  table thead,th{
    background:#bfd0e1;
    border: none;
    font-weight:normal;
  }
}
