<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifetech.dhap.pathcloud.statistic.domain.StatisticsRepository">

    <select id="countGroupByInspectCategory" resultType="java.util.Map"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select inspect_category as inspectCategory,count(id) as count from pathology
        <where>
            <if test="startTime != null">and create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
        GROUP BY inspect_category
    </select>

    <select id="countAllBlocks" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        /*按照登记时间计算*/
        SELECT count(*) from block b
        INNER JOIN pathology p on b.path_id = p.id
        WHERE b.parent_id is NULL
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="countNotErrorBlocks" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT count(*) from block b
        INNER JOIN pathology p on b.path_id = p.id
        WHERE b.parent_id is NULL AND b.status != 40
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="countAllSlides" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT count(*) from block b
        INNER JOIN pathology p on b.path_id = p.id
        WHERE b.parent_id is NOT NULL
        and b.status != 40
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="countReGrossingBlocks" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT count(*) from block b
        INNER JOIN pathology p on b.path_id = p.id
        WHERE b.parent_id is NULL and b.biaoshi = 2 /*重补取*/
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="countReSectionBlocks" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select count(DISTINCT(parent_id)) from block b
        INNER JOIN pathology p on b.path_id = p.id
        INNER JOIN tracking t on t.block_id = b.id and t.operation = 20 /*申请重切*/
        <where>
            <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
    </select>

    <select id="countDeepSectionBlocks" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select count(DISTINCT(b.id)) from block b
        INNER JOIN pathology p on b.path_id = p.id
        INNER JOIN tracking t on t.block_id = b.id and t.operation = 17 /*申请深切*/
        <where>
            <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
    </select>

    <select id="countErrorBlocks" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT count(*) from block b
        INNER JOIN pathology p on p.id = b.path_id
        WHERE b.parent_id is NULL and b.status = 40
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="countErrorSlides" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT count(*) from block b
        INNER JOIN pathology p on p.id = b.path_id
        WHERE b.parent_id is NOT NULL and b.status = 40
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="selectSpecialDyeStatistics"
            resultType="com.lifetech.dhap.pathcloud.statistic.domain.model.SpecialDyeStatistics">
    SELECT month(p.create_time) as month,count(DISTINCT(p.id)) as total,count(DISTINCT(bi.path_id)) as special
    from pathology p
    LEFT JOIN block_ihc bi on bi.path_id = p.id and bi.status =2
    WHERE year(p.create_time) = year(now())
    GROUP BY month(p.create_time)
  </select>

    <select id="selectWorkload" resultType="com.lifetech.dhap.pathcloud.statistic.domain.model.Workload"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT t.operator_id as operator,
        <if test="station != 6">count(DISTINCT(b.path_id)) as pathCount,count(b.id) as blockCount,0 as slideCount</if>
        <if test="station == 6">count(DISTINCT(bbb.path_id)) as pathCount,count(DISTINCT(bbb.id)) as
            blockCount,count(bb.id) as slideCount
        </if>
        from tracking t
        <if test="station != 6">
            INNER JOIN block b on t.block_id = b.id and b.parent_id is null
        </if>
        <if test="station==6">
            INNER JOIN block bb on t.block_id = bb.id and bb.parent_id is not null
            INNER JOIN block bbb on bb.parent_id = bbb.id
        </if>
        where t.operation = #{station,jdbcType=INTEGER}
        <if test="startTime != null">and t.operation_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and t.operation_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        GROUP BY t.operator_id
        ORDER BY slideCount DESC,blockCount DESC,pathCount DESC
        limit 10
    </select>

    <select id="selectAvgRegisterWaitTime" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select avg(UNIX_TIMESTAMP(p.create_time)-UNIX_TIMESTAMP(a.create_time)) from pathology p
        inner join application a on p.id = a.pathology_id
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
    </select>

    <select id="selectAvgNormalGrossingWaitTime" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select avg(UNIX_TIMESTAMP(b.create_time)-UNIX_TIMESTAMP(p.create_time)) from block b
        INNER JOIN pathology p on b.path_id = p.id
        where b.biaoshi != 2 and b.parent_id is NULL
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="selectReGrossingBlockIds"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition"
            resultType="java.lang.Long">
        SELECT b.id FROM block b inner join pathology p on b.path_id = p.id and p.re_grossing = 1
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>

    <select id="selectAvgCommonOperationWaitTime" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.AvgWaitTimeCondition">
        select avg(UNIX_TIMESTAMP(t2.operation_time)-UNIX_TIMESTAMP(t1.operation_time)) from block b
        INNER JOIN pathology p on b.path_id = p.id
        INNER JOIN tracking t1 on b.id = t1.block_id and t1.operation= #{operationStart,jdbcType=INTEGER}
        INNER JOIN tracking t2 on b.id = t2.block_id and t2.operation=#{operationEnd,jdbcType=INTEGER}
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
    </select>

    <select id="selectAvgNormalSectionWaitTime" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select avg(UNIX_TIMESTAMP(t1.operation_time)-UNIX_TIMESTAMP(t2.operation_time)) from block b
        INNER JOIN
        (select min(operation_time) as operation_time,b.parent_id from tracking t INNER JOIN block b on t.block_id =
        b.id
        where t.operation=6 GROUP BY b.parent_id ) t1 on t1.parent_id = b.id
        INNER JOIN tracking t2 on t2.block_id = b.id and t2.operation=5
        INNER JOIN pathology p on p.id = b.path_id
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
    </select>

    <select id="selectAbnormalSectionBlocksId" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT DISTINCT parent_id from block b
        <if test="startTime != null or endTime != null">
            INNER JOIN pathology p on p.id = b.path_id
        </if>
        where b.parent_id is not NULL and sub_id>1
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
    </select>

    <select id="selectAbnormalSectionIdsByBlockId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT id from block where parent_id =#{blockId,jdbcType=BIGINT} and sub_id > 1
    </select>

    <select id="selectSectionWaitTimeByBlockIdAndSlideId" parameterType="java.util.Map" resultType="java.lang.Long">
        select sum(UNIX_TIMESTAMP(create_time) - UNIX_TIMESTAMP(operation_time)) from
        (select create_time,@num:=@num+1 as num from block b,(SELECT @num:=0) a
        where parent_id =#{blockId,jdbcType=BIGINT} and sub_id>1 ORDER BY create_time)t1
        inner join
        (select operation_time,@rank:=@rank+1 as seq from tracking ,(SELECT @rank:=0) a
        where (block_id = #{blockId,jdbcType=BIGINT} and operation=17) or (block_id in
        <foreach collection="slideIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and operation=20) ORDER BY operation_time) t2
        on t1.num = t2.seq
    </select>

    <select id="selectAvgDiagnoseWaitTime" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select avg(UNIX_TIMESTAMP(operation_time1)-UNIX_TIMESTAMP(operation_time2)) from (
        select p.id,min(pt.operation_time) as operation_time1,t.operation_time as operation_time2 from pathology p
        INNER JOIN block b on p.id = b.path_id and b.parent_id is not NULL
        INNER JOIN tracking t on t.block_id = b.id and t.operation=9
        INNER JOIN path_tracking pt on pt.path_id = p.id and pt.operation in (10,11,12)
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
        GROUP BY p.id) t

    </select>

    <select id="selectAvgReportWaitTime" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select avg(UNIX_TIMESTAMP(operation_time1)-UNIX_TIMESTAMP(operation_time2)) from (
        select p.id,min(pt1.operation_time) as operation_time1,pt.operation_time as operation_time2 from pathology p
        INNER JOIN block b on p.id = b.path_id and b.parent_id is not NULL
        INNER JOIN path_tracking pt1 on pt1.path_id = p.id and pt1.operation=13
        INNER JOIN path_tracking pt on pt.path_id = p.id and pt.operation in (10,11,12)
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
        GROUP BY p.id) t
    </select>

    <select id="selectQualityRank" resultType="com.lifetech.dhap.pathcloud.statistic.domain.model.QualityRank"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        select t.operation,t.operator_id as operator,
        CASE t.operation WHEN 1 THEN avg(bs.grossing) WHEN 3 THEN avg(bs.dehydrate) WHEN 5 THEN avg(bs.embedding) WHEN 6
        THEN AVG(bs.sectioning) END as average
        from tracking t
        INNER JOIN block_score bs on ((t.block_id = bs.parent_id or t.block_id = bs.block_id) AND bs.type=1) and
        t.operation in
        (1,3,5,6)
        INNER JOIN block b on b.id = bs.block_id
        INNER JOIN pathology p on p.id = b.path_id
        <where>
            <if test="startTime != null">p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
            <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
        </where>
        GROUP BY operator_id,operation
        ORDER BY average desc LIMIT 10
    </select>

    <select id="countUnqualifiedSlide" resultType="java.lang.Long"
            parameterType="com.lifetech.dhap.pathcloud.statistic.application.condition.StatisticsCondition">
        SELECT count(*) from block_score bs
        INNER JOIN block b on b.id = bs.block_id
        INNER JOIN pathology p on b.path_id = p.id
        WHERE ${step} &lt; #{score,jdbcType=INTEGER} and bs.type=1 and b.status != 40
        <if test="startTime != null">and p.create_time >= #{startTime,jdbcType=TIMESTAMP}</if>
        <if test="endTime != null"><![CDATA[and p.create_time < #{endTime,jdbcType=TIMESTAMP}]]></if>
    </select>
</mapper>