#pillarChart{
  padding:10px;
  background: #e8f1f5;
  height:200px;
  //.pillarChart{
  //  width:520px;
  //  height:163px;
  //}
  .pillar-title{
    font-size:14px;
    color: #000;
    -webkit-transform: rotate(90deg);
  }
}
