<!--<div class="pathology-report">

  <div class="clearfix">

    <a class="pull-right" href="">打印</a>
  </div>
  <div class="clearfix">
    <div class="col-sm-2">
      <ul class="nav nav-stacked" ng-init="application=1">
        <li ng-class="{active:application === 1}" class="btn btn-sm nav-item" ng-click="application = 1">病理申请表</li>
        <li ng-class="{active:application === 2}" class="btn btn-sm nav-item" ng-click="application = 2">特检申请表</li>
      </ul>
    </div>
    <div class="col-sm-10">

      <div ng-if="application === 1" class="row pathology">
        <div class="pathology-content">

        </div>
      </div>
      <div ng-if="application === 2" class="row special">
        特染申请
      </div>


    </div>
  </div>


</div>-->
