<div class="pathology-report">

  <!--<div class="clearfix">

    <a class="pull-right" href="">打印</a>
  </div>-->
  <div class="clearfix">
    <div class="col-sm-2">
      <ul class="nav nav-stacked">
        <li ng-class="{active:sample === 1}" class="btn btn-sm nav-item" ng-click="researchQuery.sampleTab()">{{'基本信息'|translate}}</li>
        <li ng-class="{active:sample === 2}" class="btn btn-sm nav-item" ng-click="researchQuery.sampleMaterialInfo()">{{'取材信息'|translate}}</li>
        <li ng-class="{active:sample === 3}" class="btn btn-sm nav-item" ng-click="researchQuery.sampleConfirmInfo()">{{'制片信息'|translate}}</li>
        <li ng-class="{active:sample === 4}" class="btn btn-sm nav-item" ng-click="">{{'存档信息'|translate}}</li>
      </ul>
    </div>
    <div class="col-sm-10">
      <!--基本信息-->
      <div ng-if="sample === 1" class="row sample">
        <div class="table-min mini">
          <table class=" table-hover table-bordered">
            <thead>
            <tr>
              <th>{{'样本编号'|translate}}</th>
              <th>{{'样本名称'|translate}}</th>
              <th>{{'样本类别'|translate}}</th>
              <th>{{'添加时间'|translate}}</th>
              <th>{{'添加人'|translate}}</th>
              <th>{{'删除时间'|translate}}</th>
              <th>{{'删除人'|translate}}</th>
              <th>{{'登记日期'|translate}}</th>
              <th>{{'登记员'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in researchQuery.basicInfo track by $index">
              <td ng-bind="item.serialNumber"></td>
              <td ng-bind="item.name"></td>
              <td ng-bind="item.categoryName"></td>
              <td ng-bind="item.createTime| date : 'yyyy-MM-dd' "></td>
              <td ng-bind="item.createBy.firstName"></td>
              <td ng-bind="item.delete ? (item.updateTime| date : 'yyyy-MM-dd') :''"></td>
              <td ng-bind="item.delete ? item.updateBy.firstName :''"></td>
              <td ng-bind="item.registerTime| date : 'yyyy-MM-dd HH:mm:ss'"></td>
              <td ng-bind="item.registerUser.firstName"></td>
            </tr>
            <tr ng-repeat="n in [].constructor(10) track by $index" ng-show="!researchQuery.basicInfo.length||researchQuery.basicInfo.length<=$index">
              <td ng-repeat="n in [].constructor(9) track by $index"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--取材信息-->
      <div ng-if="sample === 2" class="row sample">
        <div class="pathology-content">
          <div class="table-min mini">
            <table class=" table-hover table-bordered">
              <thead>
              <tr>
                <th>{{'取材标识'|translate}}</th>
                <th>{{'蜡块号'|translate}}</th>
                <th>{{'取材部位'|translate}}</th>
                <th>{{'组织数'|translate}}</th>
                <th>{{'取材备注'|translate}}</th>
                <th>{{'取材医生'|translate}}</th>
                <th>{{'记录员'|translate}}</th>
                <th>{{'取材时间'|translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in researchQuery.materialInfo.grossingInfo track by $index" ng-class="{'required':item.stop}">
                <td ng-bind="item.biaoshiDesc"></td>
                <td ng-bind="item.subId"></td>
                <td ng-bind="item.bodypart"></td>
                <td ng-bind="item.count"></td>
                <td ng-bind="item.note"></td>
                <td ng-bind="item.operatorName"></td>
                <td ng-bind="item.secOperatorName"></td>
                <td ng-bind="item.grossingTime| date : 'yyyy-MM-dd HH:mm:ss'"></td>
              </tr>
              <tr ng-repeat="n in [].constructor(10) track by $index" ng-show="!researchQuery.materialInfo.grossingInfo.length||researchQuery.materialInfo.grossingInfo.length<=$index"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>
          </div>
          <p>*{{'红色为异常终止蜡块'|translate}}</p>
          <div>
            <p>{{'大体图像'|translate}}</p>
            <img width="100" height="60" ng-src="{{item.url}}" ng-repeat="item in researchQuery.materialInfo.microFiles" alt="">
            <br>
          </div>
          <div>
            <p>{{'取材确认图像'|translate}}</p>
            <img width="100" height="60" ng-src="{{item.url}}" ng-repeat="item in researchQuery.materialInfo.grossingConfirmFile" alt="">
            <br>
          </div>
        </div>
      </div>
      <!--制片信息-->
      <div ng-if="sample === 3" class="row sample">

        <div class="table-min mini">
          <table class=" table-hover table-bordered">
            <thead>
            <tr>
              <th>{{'蜡块号'|translate}}</th>
              <th>{{'玻片号'|translate}}</th>
              <th>{{'事件名称'|translate}}</th>
              <th>{{'操作人'|translate}}</th>
              <th>{{'操作时间'|translate}}</th>
              <th>{{'等待时间'|translate}}</th>
              <th>{{'备注'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in researchQuery.confirmInfo track by $index" ng-class="{'required':item.operation===16}">
              <td ng-bind="item.blockSubId"></td>
              <td ng-bind="item.slideSubId"></td>
              <td ng-bind="item.operationDesc"></td>
              <td ng-bind="item.operator.firstName"></td>
              <td ng-bind="item.operationTime| date : 'yyyy-MM-dd HH:mm:ss'"></td>
              <td>{{(item.waitTime|formatTime)||""}}</td>
              <td>{{item.noteType}}<span ng-show="item.noteType">&nbsp;</span>{{item.note}}</td>
            </tr>
            <tr ng-repeat="n in [].constructor(10) track by $index" ng-show="!researchQuery.confirmInfo.length||researchQuery.confirmInfo.length<=$index"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-if="sample === 4" class="row sample">
        <div class="table-min mini">
          <table class=" table-hover table-bordered">
            <thead>
            <tr>
              <th>{{'样本编号'|translate}}</th>
              <th>{{'样本名称'|translate}}</th>
              <th>{{'样本类别'|translate}}</th>
              <th>{{'登记日期'|translate}}</th>
              <th>{{'登记员'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in researchQuery.basicInfo track by $index">
              <td ng-bind="item.serialNumber"></td>
              <td ng-bind="item.name"></td>
              <td ng-bind="item.categoryName"></td>
              <td ng-bind="item.registerTime| date : 'yyyy-MM-dd HH:mm:ss'"></td>
              <td ng-bind="item.registerUser.firsName"></td>
            </tr>
            <tr ng-repeat="n in [].constructor(10) track by $index" ng-show="!researchQuery.basicInfo.length||researchQuery.basicInfo.length<=$index"><td></td><td></td><td></td><td></td><td></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
