
.footer{
  height: 100px;
  background-color: #ddd;
  width:100%;
  min-width: 1130px;
}

.footer .page-container{
  padding:30px 20px;
}

.footer-term{
  color:#333;
  padding-top: 10px;
  font-size: 14px;
}

.footer-logo{
  width:160px;
}
