#edit{
  label{
    text-align: left;
    padding-right: 0!important;
  }
  .col-sm-8{
    padding-left: 0!important;
  }
  .dilutionRate{
    label{
      padding-left:0!important;
      padding-right:0!important;
      text-align: center!important;
    }
    div{
      padding-left:0!important;
      padding-right:0!important;
      input{
        padding-left:5px!important;
        padding-right:0!important;
      }
    }
  }
}
