<div class="slider">
  <div class="slider-container" ng-style="{width:pages*scrollWidth+'px'}" ng-transclude>

  </div>
  <a class="move move-left flex-center" href="" ng-click="left()">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">previous</span>
  </a>
  <a class="move move-right flex-center" href="" ng-click="right()">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">next</span>
  </a>
</div>


