<div id="loseProduct">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="loseProduct.cancel()"><span aria-hidden="true"
                                                                                                   class="icon-remove-sign"></span><span
      class="sr-only">Close</span></button>
    <h4 class="modal-title">玻片丢失</h4>
  </div>

  <div class="modal-body clearfix">
    <div class="info-container">

      <!--<div class="flex-box" style="justify-content: space-between">-->
      <!--<div>病理号：{{item.pathNo}}</div>-->
      <!--<div>玻片总数：{{item.slidePrepareConfirmCount}}</div>-->
      <!--<div>缺失玻片数：{{item.lostSlideCount}}</div>-->
      <!--</div>-->
      <div class="table-container">
        <div class="title">缺失玻片信息：</div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>病理号</th>
            <th>蜡块号</th>
            <th>玻片号</th>
            <th>状态</th>
            <th>最后操作人</th>
            <th>最后操作时间</th>
            <th>处理方式</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody ng-repeat="item in loseProduct.loseData track by item.pathNo">
          <tr ng-repeat="subItem in item.lostSlides">
            <td>{{item.pathNo}}</td>
            <td>{{subItem.blockSubId}}</td>
            <td>{{subItem.subId}}</td>
            <td>{{item.reGrossing && item.status === 10 && !(subItem.subId || subItem.blockSubId)? "待重补取":subItem.statusDesc}}</td>
            <td>{{subItem.lastOperator.firstName}}</td>
            <td>{{subItem.lastOperateTime | date:'yyyy-MM-dd HH:mm'}}</td>
            <td><select class="form-control" name="handelType" ng-init="subItem.handelType = '0'" ng-model="subItem.handelType">
              <option value="0">不处理</option>
              <option ng-show="subItem.blockSubId && !subItem.specialApply" value="1">申请重补取</option>
              <option ng-show="subItem.blockSubId && subItem.subId && !subItem.specialApply" value="2">申请重切</option>
              <option ng-show="subItem.blockSubId" value="3">异常终止</option>
            </select></td>
            <td><input ng-model="subItem.note"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--<div class="clearfix control-container">-->
        <!--<label for="handelType">处理方式：</label>-->
        <!--<div class="control">-->
          <!--<select class="form-control" name="handelType" id="handelType" ng-model="loseProduct.handelType">-->
            <!--<option value="0">不处理</option>-->
            <!--<option value="1">申请重补取</option>-->
            <!--<option value="2">申请重切</option>-->
            <!--<option value="3">异常终止</option>-->
          <!--</select>-->
        <!--</div>-->

      <!--</div>-->

      <!--<div class="clearfix control-container">-->
        <!--<label for="remark">备注：</label>-->
        <!--<div class="control">-->
          <!--<textarea id="remark" class="form-control" ng-model="loseProduct.remark"></textarea>-->
        <!--</div>-->

      <!--</div>-->

      <div>*提交处理后，玻片不全的病理号将从制片确认列表移除，请找到缺失玻片后重新扫描。玻片齐全的病理号将被制片确认。</div>
    </div>

  </div>
  <div class="modal-footer" style="text-align: center">
    <button class="btn btn-warning" type="button" ng-click="loseProduct.cancel()">返回</button>
    <button class="btn btn-default" type="button" ng-click="loseProduct.ok()">提交处理</button>
  </div>

</div>
