#freezeStatistic{
  .booked{
    background-color: #c2d1e1;
  }
 
  .tooltip.freeze-tip .tooltip-inner {
    text-align: left;
    // background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}
