<div id="test">
  <div class="container">
    <div class="part-top">
      <div class="part-top-1">
        part1
      </div>
      <div class="part-top-2">
        <div class="col-sm-4" style="background-color: #ccc">part2-1</div>
        <div class="col-sm-4" style="background-color: #ddd">part2-2</div>
        <div class="col-sm-4" style="background-color: #eee">
          <div style="display: inline;">part2-3</div>
          <textarea style="width: 100%;height: 150px" ng-click="test.showModal()" ng-model="test.text"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>
