#pathologicalForm,
#pathological_Form,
#pathologicalFreezeForm,
#pathologicalFreeze_Form {
    //.container{
    //  border-top:1px solid rgba(153, 204, 255, 1);
    //}
    //max-width: 1000px;
    .hideWhenPrint {
        .readonly {
            text-align: left;
        }
    }
    .showWhenPrint {
        display: none
    }
    .uib-daypicker {
        td {
            padding: 0px;
        }
    }
    form.disabled {
        background-color: #eee;
        input,
        select,
        textarea {
            background-color: #eee;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
    //input{
    //  border:none;
    //  outline: none;
    //  border-bottom: 1px solid #000;
    //  background: transparent;
    //}
    td.error {
        border-bottom: 1px solid red;
    }
    table,
    thead,
    tbody,
    tt,
    th,
    td {
        border-color: lightblue;
        padding: 5px;
    }
    //table input,select,textarea{
    //  border:none;
    //  outline: none;
    //  width:100%;
    //  height:100%;
    //  padding:0;
    //  margin:0;
    //  //text-align: center;
    //}
    table {
        input,
        select,
        textarea {
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            //text-align: center;
        }
        textarea {
            resize: none;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            overflow-y: visible;
        }
    }
    table td,
    th {
        text-align: center;
        vertical-align: middle;
    }
    table td span {
        text-align: left;
        //vertical-align: middle;
        //line-height:100%;
    }
    #btn-submit,
    #btn-insert {
        border: none;
        outline: none;
        color: #fff;
    }
    .red-sign {
        color: #F00;
    }
    .btn-input {
        color: #69bcd0;
        i {
            margin-right: 5px;
        }
    }
}