<div id="searchMaterial">

  <toolbar class="clearfix">
    <div class="form-inline">
      <div class="input-group pull-right">
        <search-input class="pull-right search-input-lg" model="searchMaterial.searchStr" get-data="searchMaterial.search()"  placeholder="{{'输入姓名/病理号查询 号段用“-”分开'|translate}}"></search-input>
      </div>
    </div>
  </toolbar>

  <div class="container clearfix">

    <div class="table-header form-control-static form-inline clearfix">
      <date-seletor dateset="searchMaterial.defaultTime" start-time="searchMaterial.startTime" end-time="searchMaterial.endTime"></date-seletor>
      <select class="form-control input-sm " ng-model="searchMaterial.searchData.status"
              ng-options="status.value as status.name for status in searchMaterial.statusList">
        <option value="">{{'样本状态'|translate}}</option>
      </select>

      <select class="form-control input-sm " ng-model="searchMaterial.searchData.status"
              ng-options="status.value as status.name for status in searchMaterial.inspectCategory">
        <option value="">{{'检查类别'|translate}}</option>
      </select>
      <select class="form-control input-sm " ng-model="searchMaterial.searchData.status"
              ng-options="status.value as status.name for status in searchMaterial.consultStatus">
        <option value="">{{'会诊类别'|translate}}</option>
      </select>

      <select class="form-control input-sm " ng-model="searchMaterial.searchData.departments"
              ng-options="departments.code as departments.name for departments in searchMaterial.departmentsList" >
        <option value="">{{'送检科室'|translate}}</option>
      </select>
      <select class="form-control input-sm " ng-model="searchMaterial.searchData.operator"
              ng-options="operator.id as operator.firstName for operator in searchMaterial.grossingUserList">
        <option value="">{{'取材医生'|translate}}</option>
      </select>
      <select class="form-control input-sm select" ng-model="searchMaterial.searchData.secOperator"
              ng-options="secOperator.id as secOperator.firstName for secOperator in searchMaterial.secOperatorList">
        <option value="">{{'取材记录员'|translate}}</option>
      </select>
      <button ng-click="searchMaterial.query()" id="query" class="btn btn-sm btn-default">&nbsp;{{'筛选'|translate}}&nbsp;</button>
    </div>

    <div class="table-min">

      <table class="table-hover table-bordered">
        <thead class="primary-table-head">
        <tr>
          <th ng-repeat="item in searchMaterial.tableHeaders" ng-click="searchMaterial.getSortList(item)" class="cursor-pointer">
            {{::item.name|translate}}
            <i class="cursor-pointer glyphicon glyphicon-chevron-down arrow"
               ng-show="item.order"
               ng-class="{'rotate-180':item.sort==='asc','rotate-0':item.sort==='desc'||!item.sort}" />
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in searchMaterial.grossingData track by $index">
          <td ng-bind="item.pathologyNumber"></td>
          <td ng-bind="item.name"></td>
          <td ng-bind="item.departments|department"></td>
          <td ng-bind="item.subId"></td>
          <td ng-bind="item.bodyPart||'无'"></td>
          <td ng-bind="item.count"></td>
          <td ng-bind="item.biaoshiName"></td>
          <td ng-bind="item.operatorName"></td>
          <td ng-bind="item.secOperatorName||'无'"></td>
          <td ng-bind="item.basketNumber"></td>
          <td ng-bind="item.operationTime| date : 'yyyy-MM-dd'"></td>
          <td>
            <span  ng-hide="item.status === 41"  ng-bind="item.statusName"></span>
            <a ng-show="item.status === 41" href ng-click="searchMaterial.reasonModal(item)">{{item.statusName}}</a>
          </td>
        </tr>
        </tr>
        <tr ng-repeat="n in [].constructor(20) track by $index" ng-show="searchMaterial.grossingData.length<=$index"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>

        <!--<tr><td class="text-center" colspan="12" ng-show="!searchMaterial.grossingData.length">暂无数据</td></tr>-->
        </tbody>
      </table>

      <div class="table-footer">
        <div class="pull-left form-control-static pagination">
          {{'共'|translate}}<span ng-bind="searchMaterial.totalItems"></span>{{'条结果'|translate}}
        </div>
        <uib-pagination class="pull-right" boundary-links="true"
                        items-per-page="searchMaterial.searchData.length" max-size="10"
                        total-items="searchMaterial.totalItems"
                        ng-model="searchMaterial.searchData.page"
                        ng-change="searchMaterial.getDataList()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
      </div>

    </div>

  </div>

</div>
