#applyPathological{
  //margin:auto;
  //width: 780px;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f7f9;
  .main{
    padding: 30px 40px;
    background-color: #fff;
    width:800px;
    margin:auto;
    box-shadow: 7px 7px 4px -1px #9fa3a4; //h-shadow v-shadow blur spread color inset

    .application-header{
      h3{
        font-weight: bold;
        color: #000;
        border-bottom:1px solid rgba(153, 204, 255, 1);
        padding-bottom: 10px;
        margin-bottom: 40px;

      }
    }
  }

  .scan-input{
    border:none;
    outline: none;
    border-bottom: 1px solid #000;
    background: transparent;
  }

  .div-width{
    width:90%;
    margin:20px auto;
    //max-width: 1360px;
  }
  .div-head{
    margin-bottom: 80px ;
  }
  .div-head h3{
    margin: 20px 0;
  }
  thf-pathological{
    width:90%;
  }
}
