
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="addSlideModal.cancel()">
    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
    <span class="sr-only">Close</span>
  </button>

  <h4 class="modal-title text-left" id="modal-title">选择玻片</h4>
</div>

<div id="vouchers">
  <div class="modal-body">
    <div class="row clearfix">
      <div class="col-sm-4">
        <div class="header">
          副联
        </div>
        <div>
          病人姓名： 病人甲 <br>

          借片人： 家属1

          身份证号： 1234567890

          联系电话： 123456789

          押金费： 100

          经手人： 归档员A

          借片日期： 2017-9-2
        </div>
      </div>
      <div class="col-sm-8">
        <div class="header">
          南京市口腔医院病理科借片单
        </div>
        <div class="content">

        </div>
      </div>
    </div>

  </div>
 <!--modal-body-->
</div>


  <div class="modal-footer">
    <button  class="btn btn-warning" type="button" ng-click="addSlideModal.cancel()">取消</button>
    <button  class="btn btn-default" type="submit" ng-click="addSlideModal.confirm()">确认</button>
  </div>

