table{

}
.table-header{

}
.reject-reason{
  min-height: 55px;
  border: 1px solid #eee;
}
.text-error{
  color:red;
}

.alert {
  margin-bottom: 0;
}
.tooltip.customClass .tooltip-inner {
  max-width: 400px;
}
