//english
.english{
  //.container{
  //  width: 1200px !important;
  //}

  #home {
    * {
      font-size: 16px;
    }
    .title-name{
      font-size: 18px;
    }
  }

  #createDiagnosis {
    .box{
      .box-item{
        width:48%;
      }
    }
  }

}

