#allStatistic{
  height:100%;
  background: #f3f9fb;
  padding-top:30px;
  .table-min thead{
    background:transparent;
    border-bottom:1px solid #2c2c2c;
  }
  .table-min tbody{
    margin-top:10px;
  }
}
