#login {
  .title {
    line-height: 100px;
    height: 100px;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #69BCD0;
  }
  .main {
    height: 430px;
    background: url("../assets/images/login-bg.png");
    .login-form {
      position: relative;

      padding: 30px;
      margin-top: 50px;
      float: right;
      width: 300px;
      min-height: 310px;
      background-color: #fff;
      box-shadow: 5px 5px 1px -1px #29748d;
      .form-title {
        font-size: 18px;
      }
      .input-group, .login-error {
        margin-top: 20px;
      }
      .rember-password {
        margin: 20px 0;
      }

    }
  }
  .login-footer {
    padding-top: 20px;
    b {
      font-size: 18px;
      color: rgba(51, 51, 51, 0.8);
    }
    .logo-cloud img {
      margin-top: 15px;
      margin-bottom: 8px;
    }
  }
  .qr-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .qr-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px;
    border-top: 1px dashed #333333;
  }

  //
  //position: absolute;
  //width: 100%;
  //top:0;
  //right: 0;
  //height: 100%;
  //background: rgba(153, 204, 255, 1);

  //element .style{
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%,-50%);
  //}
  //.font-style{
  //  font-size: 15px;
  //  font-family: '微软雅黑';
  //  font-weight: normal;
  //}
  //.container-1{
  //  max-width: 1360px;
  //  background: url("../assets/images/banner.png");
  //  width: 78%;
  //  height: 290px;
  //  //margin: 10% auto ;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%,-50%);
  //
  //  .sub-left{
  //    width: 60%;
  //    height: 290px;
  //
  //    .div-heart{
  //      clear: both;
  //      width: 40%;
  //      height: 240px;
  //      margin: 33px auto 5px;
  //      background: #9ac1ec;
  //
  //      img{
  //        width: 90%;
  //        height: 40%;
  //        /*display: block;*/
  //        margin:60px 12px;
  //      }
  //
  //    }
  //  }
  //
  //  .sub-right{
  //    margin-top: 12px;
  //    width: 40%;
  //    height: 276px;
  //    //background: lightpink;
  //
  //    .div-input {
  //      width: 70%;
  //      height: 276px;
  //      background: #afcdf1;
  //
  //      form{
  //        clear: both;
  //        width: 70%;
  //        height: 220px;
  //        margin: 50px 12% 20px 18%;
  //      }
  //
  //      .input-style{
  //        outline: none;
  //        border: none;
  //        border-bottom: 1px solid #000;
  //        background: transparent;
  //      }
  //
  //      .input-width{
  //        width: 165px;
  //      }
  //
  //    }
  //
  //    .div-foot{
  //      width: 30%;
  //      height: 276px;
  //      //background: url("../assets/images/thermo1.png");
  //      //z-index: -1;
  //      img{
  //        width:120%;
  //        height: 100%;
  //      }
  //
  //    }
  //
  //  }
  //
  //}

}

